<a href="https://colab.research.google.com/github/25stu0220-sys/googl_colab_make/blob/main/colab_basic_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 학생 수
num_students = 5

# 학생 데이터 저장용 리스트
students = []

# 각 과목 총합 저장용 변수
total_korean = 0
total_math = 0
total_science = 0

print("학생 5명의 이름과 국어, 수학, 과학 점수를 입력하세요.")

for i in range(num_students):
    name = input(f"{i+1}번째 학생 이름: ")
    korean = int(input("  국어 점수: "))
    math = int(input("  수학 점수: "))
    science = int(input("  과학 점수: "))

    total = korean + math + science
    average = total / 3

    # 학생 데이터 추가
    students.append({
        '이름': name,
        '국어': korean,
        '수학': math,
        '과학': science,
        '합계': total,
        '평균': average
    })

    # 과목별 총합 누적
    total_korean += korean
    total_math += math
    total_science += science

# 전체 과목별 평균 계산
avg_korean = total_korean / num_students
avg_math = total_math / num_students
avg_science = total_science / num_students

print("\n학생별 성적 결과:")
print("이름\t국어\t수학\t과학\t합계\t평균")
for s in students:
    print(f"{s['이름']}\t{s['국어']}\t{s['수학']}\t{s['과학']}\t{s['합계']}\t{s['평균']:.2f}")

print("\n전체 과목별 평균 점수:")
print(f"국어 평균: {avg_korean:.2f}")
print(f"수학 평균: {avg_math:.2f}")
print(f"과학 평균: {avg_science:.2f}")

학생 5명의 이름과 국어, 수학, 과학 점수를 입력하세요.
1번째 학생 이름: son
  국어 점수: 99
  수학 점수: 88
  과학 점수: 77
2번째 학생 이름: kane
  국어 점수: 80
  수학 점수: 90
  과학 점수: 71
3번째 학생 이름: ali
  국어 점수: 67
  수학 점수: 78
  과학 점수: 89
4번째 학생 이름: eriksen
  국어 점수: 45
  수학 점수: 56
  과학 점수: 77
5번째 학생 이름: dier
  국어 점수: 34
  수학 점수: 54
  과학 점수: 55

학생별 성적 결과:
이름	국어	수학	과학	합계	평균
son	99	88	77	264	88.00
kane	80	90	71	241	80.33
ali	67	78	89	234	78.00
eriksen	45	56	77	178	59.33
dier	34	54	55	143	47.67

전체 과목별 평균 점수:
국어 평균: 65.00
수학 평균: 73.20
과학 평균: 73.80